@font-face {
    font-family: 'nc-normal', sans-serif;
    src: url(../fonts/Novecentowide-Normal.otf);
}
.a3admin_user-menu .a3admin_account {
    display: inline-block !important;
    min-width: 156px !important;
}
.a3admin_user-menu .a3admin_username {
    font-family: 'nc-normal', sans-serif !important;
    text-transform: uppercase !important;
    font-size: 14px !important;
    font-weight: bold !important;
    color: #0a0a0a !important;
    line-height: 1 !important;
}
.a3admin_left{
    float: left !important;
}
.a3admin_submenu{
        top: 100% !important;
    left: initial !important;
    right: 0 !important;
    text-align: right !important;;
    box-shadow: 0 1px 3px #cacaca !important;
    min-width: 200px !important; 
    margin: 0 !important;
}
.a3admin_submenu .page-patterns-list {
    margin:0 !important;
    padding:0 !important;
}
.a3admin_submenu .page-patterns-list.specific,
.a3admin_submenu .page-patterns-list.common{
    margin-bottom: 10px !important;
}
.a3admin_admin-shortcut .a3admin_dropdown.a3admin_menu .a3admin_submenu>li{
        width: 100% !important;
}
.a3admin_admin-shortcut .a3admin_dropdown.a3admin_menu .a3admin_submenu li a{
    text-transform: none !important;
    font-weight: 500 !important;
    line-height: 1.4 !important;
    margin: 4px 10px !important;
    font-size: 13px !important;
    text-decoration: none !important;
    color: #ef4d4e !important;
}
.a3admin_admin-shortcut .a3admin_dropdown.a3admin_menu .a3admin_submenu li a[data-status]:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    margin-right: 5px;
    background: #78d1bd;
}
.a3admin_admin-shortcut .a3admin_dropdown.a3admin_menu .a3admin_submenu li a[data-status="disabled"]:before {
    background: #ef4d4e;
}
.a3admin_submenu label {
    color: #333 !important;
    display: block !important;
    font-family: sans-serif !important;
    font-size: 11px !important;
    margin-top: 10px;
    text-transform: uppercase !important;
    z-index: 999000 !important;
}

.a3admin_user-menu .a3admin_actions {
    font-family: 'nc-normal', sans-serif !important;
    text-transform: uppercase !important;
    font-size: 14px; !important;
    line-height: 1 !important;
}

.a3admin_user-menu .a3admin_actions a {
    font-weight: normal !important;
    color: #ef4d4e !important;
}
.a3admin_user-menu .a3admin_menu-text {
    font-family: 'nc-normal', sans-serif !important;
    display: inline-block !important;
    color: #ef4d4e !important;
    margin: 0 !important;
    font-size: 18px !important;
}

.a3admin_menu-text {
    font-weight: bold !important;
    color: inherit !important;
    line-height: 1 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 27px !important;
    line-height: 27px !important;
}
.a3admin_top-bar-right {
    float: right !important;
}
.a3admin_top-bar-left {
    float: left !important;
}

.a3admin_admin-shortcut{
    box-sizing: border-box !important;
    position: fixed !important;
    width: 100% !important;
    top: 0 !important;
    background: #fff !important;
    box-shadow: 0 1px 3px #cacaca !important;
    left: 0 !important;
    padding: 3px 10px !important;
    height: 33px !important;
    z-index: 1000000;
}
.a3admin_admin-shortcut .a3admin_dropdown.a3admin_menu li{
    display: inline-block !important;
    list-style: none !important;
    position: relative !important;
    height: 27px !important;
}
.a3admin_admin-shortcut .a3admin_dropdown.a3admin_menu{
    margin:0 !important;
}
.a3admin_admin-shortcut .a3admin_dropdown.a3admin_menu li a {
    display: block !important;
    font-family: 'nc-normal', sans-serif !important;
    text-transform: uppercase !important;
    font-size: 14px; !important;
    font-weight: bold !important;
    color: #ef4d4e !important;
    line-height: 1 !important;
    line-height: 27px !important;
    margin: 0 10px;
}
.a3admin_admin-shortcut .a3admin_dropdown.a3admin_menu>li>ul {
    display: none !important;
    
}
.a3admin_admin-shortcut .a3admin_dropdown.a3admin_menu>li:hover>ul {
    display: block !important;
    position: absolute !important;
    background: #fff !important;
    padding: 10px !important;
}
body{
	margin-top: 39px !important;
}
#a3admin_nav-toggle {
    cursor: pointer !important;
    height: 30px !important;
    width: 35px !important;
    outline: none !important;
    border:0 !important;
    background: none !important;
    right: 16px !important;
    position: absolute !important;
    top: 50% !important;
    transform: translate(0, -50%) !important;
    -ms-transform: translate(0, -50%) !important;
    -webkit-transform: translate(0, -50%) !important;
    -moz-transform: translate(0, -50%) !important;
    -o-transform: translate(0, -50%) !important;
}
#a3admin_nav-toggle span, #a3admin_nav-toggle span:before, #a3admin_nav-toggle span:after {
    cursor: pointer !important;
    height: 2px !important;
    width: 35px !important;
    background: #ef4d4e !important;
    position: absolute !important;
    display: block !important;
    content: '' !important;
    outline: none !important;
    -webkit-transition: all 500ms ease !important;
    -moz-transition: all 500ms ease !important;
    -ms-transition: all 500ms ease !important;
    -o-transition: all 500ms ease !important;
    transition: all 500ms ease !important;
}
#a3admin_nav-toggle span:before {
    top: -10px !important;
}
#a3admin_nav-toggle span:after {
    bottom: -10px !important;
}
#a3admin_nav-toggle.active span:before {
    top: 0 !important;
    -webkit-transform: rotate(-45deg) !important;
    -moz-transform: rotate(-45deg) !important;
    -ms-transform: rotate(-45deg) !important;
    transform: rotate(-45deg) !important;
}
#a3admin_nav-toggle.active span:after {
    bottom: 0 !important;
    -webkit-transform: rotate(45deg) !important;
    -moz-transform: rotate(45deg) !important;
    -ms-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
}
#a3admin_nav-toggle.active span {
    background-color: rgba(0, 0, 0, 0) !important;
}
#a3admin_nav-toggle{
    display: none !important;
}
@media screen and (max-width:1024px){
    .a3admin_user-menu .a3admin_menu-text{
        display: none !important;
    
    }
    #a3admin_nav-toggle{
        display: block !important;
    }
    .a3admin_dropdown{
        display: none !important;   
    }
    .a3admin_dropdown.active{
        display: block !important;
        background: #fff !important;
        margin-right:-10px !important;
        box-shadow: 0 2px 3px #cacaca !important;
    }
    .a3admin_admin-shortcut .a3admin_dropdown.a3admin_menu.active li {
        display: block !important;
        text-align: right !important;
    }
    .a3admin_admin-shortcut .a3admin_dropdown.a3admin_menu.active {
        position: absolute !important;
        right: 0px !important;
        top: 30px !important;
        margin: 0 !important;
        padding: 20px 10px 10px 40px !important;
    }
}